/node_modules
/public/hot
/public/storage
/public/js
/public/css
/public/images
/public/fonts
/public/favicon
/public/vendor
/public/mix-manifest.json
/public/sitemap.xml
/storage/*.key
/storage/debugbar/
/vendor
.env
.env.backup
.phpunit.result.cache
composer.lock
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
package-lock.json
/.idea
/.vscode
.DS_Store
